<div class="col-md-12">
  <div class="row" *ngIf="perdiste">
    <div class="col text-center">

      <h1> Perdiste!!! </h1>

    </div>
  </div>

  <div class="card container-fluid text-center" style="width:480px">
    <p class="card-text">Vidas: {{vidas}} Puntaje: {{puntaje}}</p>
    <img class="card-img-top" src={{palabra.urlImagen}} alt="Adivinar Palabra">


    <div class="card-body justify-content-center horizontal" *ngIf="iniciar">

      <input class="form-control" *ngIf="palabra.palabraIngles[0] != null" type="text" maxlength="1" id="1"
        [(ngModel)]="caracter1">
      <div *ngIf="caracter1 != null">
        <p>{{controlar()}}</p>
      </div>

    </div>

    <div class="card-body">
      <p class="card-text"> {{palabra.palabraEspanol}}</p>
      <button class="btn btn-primary" (click)="obtenerPalabra()">
        INICIO
      </button>
    </div>
  </div>
</div>
