<form class="card bg-aqua">
  <div class="card-header"> Envio de Mensajes </div>
  <div class="card-body">
    <div class="row form-group">
      <label class="col-sm-12 col-md-4">Para</label>
      <input class="form-control col-sm-12 col-md-8" type="number" name="txtdesde" />
    </div>
    <div class="row form-group">
      <label class="col-sm-12 col-md-4">Desde</label>
      <input class="form-control col-sm-12 col-md-8" type="number" name="txthasta" />
    </div>
    <label> </label>
    <div class="row form-group">
      <textarea class="form-control" rows="5" name="txtTexto">
        </textarea>
    </div>
    <div class="row form-group">
      <button type="button" class="btn btn-primary">Enviar</button>
      <button type="button" class="btn btn-primary">Actualizar</button>
    </div>
  </div>
</form>
